:root {
  --frame-5705: rgba(255, 255, 248, 1);
  --blue-dark: rgba(8, 31, 59, 1);
  --caption-font-family: "Kumbh Sans", Helvetica;
  --caption-font-weight: 400;
  --caption-font-size: 16px;
  --caption-letter-spacing: 0px;
  --caption-line-height: 20px;
  --caption-font-style: normal;
  --subtitle-font-family: "Arvo", Helvetica;
  --subtitle-font-weight: 400;
  --subtitle-font-size: 20px;
  --subtitle-letter-spacing: 0px;
  --subtitle-line-height: 126.99999809265137%;
  --subtitle-font-style: normal;
  --subtitle-body-font-family: "Kumbh Sans", Helvetica;
  --subtitle-body-font-weight: 700;
  --subtitle-body-font-size: 20px;
  --subtitle-body-letter-spacing: 0px;
  --subtitle-body-line-height: normal;
  --subtitle-body-font-style: normal;
  --roboto-mono-59px-regular-font-family: "Roboto Mono", Helvetica;
  --roboto-mono-59px-regular-font-weight: 400;
  --roboto-mono-59px-regular-font-size: 59px;
  --roboto-mono-59px-regular-letter-spacing: 0px;
  --roboto-mono-59px-regular-line-height: normal;
  --roboto-mono-59px-regular-font-style: normal;
  --roboto-mono-47px-light-font-family: "Roboto Mono", Helvetica;
  --roboto-mono-47px-light-font-weight: 300;
  --roboto-mono-47px-light-font-size: 47px;
  --roboto-mono-47px-light-letter-spacing: 0px;
  --roboto-mono-47px-light-line-height: normal;
  --roboto-mono-47px-light-font-style: normal;
  --roboto-mono-38px-regular-font-family: "Roboto Mono", Helvetica;
  --roboto-mono-38px-regular-font-weight: 400;
  --roboto-mono-38px-regular-font-size: 38px;
  --roboto-mono-38px-regular-letter-spacing: 0px;
  --roboto-mono-38px-regular-line-height: normal;
  --roboto-mono-38px-regular-font-style: normal;
  --roboto-mono-30px-regular-font-family: "Roboto Mono", Helvetica;
  --roboto-mono-30px-regular-font-weight: 400;
  --roboto-mono-30px-regular-font-size: 30px;
  --roboto-mono-30px-regular-letter-spacing: 0px;
  --roboto-mono-30px-regular-line-height: normal;
  --roboto-mono-30px-regular-font-style: normal;
  --roboto-mono-24px-regular-font-family: "Roboto Mono", Helvetica;
  --roboto-mono-24px-regular-font-weight: 400;
  --roboto-mono-24px-regular-font-size: 24px;
  --roboto-mono-24px-regular-letter-spacing: 0px;
  --roboto-mono-24px-regular-line-height: normal;
  --roboto-mono-24px-regular-font-style: normal;
  --roboto-mono-19px-regular-font-family: "Roboto Mono", Helvetica;
  --roboto-mono-19px-regular-font-weight: 400;
  --roboto-mono-19px-regular-font-size: 19px;
  --roboto-mono-19px-regular-letter-spacing: 0px;
  --roboto-mono-19px-regular-line-height: normal;
  --roboto-mono-19px-regular-font-style: normal;
  --roboto-mono-15px-regular-font-family: "Roboto Mono", Helvetica;
  --roboto-mono-15px-regular-font-weight: 400;
  --roboto-mono-15px-regular-font-size: 15px;
  --roboto-mono-15px-regular-letter-spacing: 0px;
  --roboto-mono-15px-regular-line-height: normal;
  --roboto-mono-15px-regular-font-style: normal;
  --variable-collection-color: rgba(99, 110, 122, 0.35);
}
