:root {
  --x-4: rgba(68, 72, 104, 1);
  --x-7: rgba(53, 60, 62, 1);
  --frame-5705: rgba(255, 255, 248, 1);
  --blue-dark: rgba(8, 31, 59, 1);
  --primary-visual: rgba(255, 102, 57, 1);
  --m3state-layerslightprimaryopacity-008: rgba(103, 80, 164, 0.08);
  --m3syslightsurface-container-low: rgba(247, 242, 250, 1);
  --m3state-layerslightprimaryopacity-012: rgba(103, 80, 164, 0.12);
  --caption-font-family: "Kumbh Sans", Helvetica;
  --caption-font-weight: 400;
  --caption-font-size: 16px;
  --caption-letter-spacing: 0px;
  --caption-line-height: 20px;
  --caption-font-style: normal;
  --subtitle-font-family: "Arvo", Helvetica;
  --subtitle-font-weight: 400;
  --subtitle-font-size: 20px;
  --subtitle-letter-spacing: 0px;
  --subtitle-line-height: 126.99999809265137%;
  --subtitle-font-style: normal;
  --subtitle-body-font-family: "Kumbh Sans", Helvetica;
  --subtitle-body-font-weight: 700;
  --subtitle-body-font-size: 20px;
  --subtitle-body-letter-spacing: 0px;
  --subtitle-body-line-height: normal;
  --subtitle-body-font-style: normal;
  --roboto-mono-59px-regular-font-family: "Roboto Mono", Helvetica;
  --roboto-mono-59px-regular-font-weight: 400;
  --roboto-mono-59px-regular-font-size: 59px;
  --roboto-mono-59px-regular-letter-spacing: 0px;
  --roboto-mono-59px-regular-line-height: normal;
  --roboto-mono-59px-regular-font-style: normal;
  --roboto-mono-47px-light-font-family: "Roboto Mono", Helvetica;
  --roboto-mono-47px-light-font-weight: 300;
  --roboto-mono-47px-light-font-size: 47px;
  --roboto-mono-47px-light-letter-spacing: 0px;
  --roboto-mono-47px-light-line-height: normal;
  --roboto-mono-47px-light-font-style: normal;
  --roboto-mono-38px-regular-font-family: "Roboto Mono", Helvetica;
  --roboto-mono-38px-regular-font-weight: 400;
  --roboto-mono-38px-regular-font-size: 38px;
  --roboto-mono-38px-regular-letter-spacing: 0px;
  --roboto-mono-38px-regular-line-height: normal;
  --roboto-mono-38px-regular-font-style: normal;
  --roboto-mono-30px-regular-font-family: "Roboto Mono", Helvetica;
  --roboto-mono-30px-regular-font-weight: 400;
  --roboto-mono-30px-regular-font-size: 30px;
  --roboto-mono-30px-regular-letter-spacing: 0px;
  --roboto-mono-30px-regular-line-height: normal;
  --roboto-mono-30px-regular-font-style: normal;
  --roboto-mono-24px-regular-font-family: "Roboto Mono", Helvetica;
  --roboto-mono-24px-regular-font-weight: 400;
  --roboto-mono-24px-regular-font-size: 24px;
  --roboto-mono-24px-regular-letter-spacing: 0px;
  --roboto-mono-24px-regular-line-height: normal;
  --roboto-mono-24px-regular-font-style: normal;
  --roboto-mono-19px-regular-font-family: "Roboto Mono", Helvetica;
  --roboto-mono-19px-regular-font-weight: 400;
  --roboto-mono-19px-regular-font-size: 19px;
  --roboto-mono-19px-regular-letter-spacing: 0px;
  --roboto-mono-19px-regular-line-height: normal;
  --roboto-mono-19px-regular-font-style: normal;
  --roboto-mono-15px-regular-font-family: "Roboto Mono", Helvetica;
  --roboto-mono-15px-regular-font-weight: 400;
  --roboto-mono-15px-regular-font-size: 15px;
  --roboto-mono-15px-regular-letter-spacing: 0px;
  --roboto-mono-15px-regular-line-height: normal;
  --roboto-mono-15px-regular-font-style: normal;
  --description-font-family: "Sen", Helvetica;
  --description-font-weight: 400;
  --description-font-size: 14px;
  --description-letter-spacing: 0px;
  --description-line-height: 14px;
  --description-font-style: normal;
  --subhead-1-font-family: "Sen", Helvetica;
  --subhead-1-font-weight: 700;
  --subhead-1-font-size: 16px;
  --subhead-1-letter-spacing: 0px;
  --subhead-1-line-height: normal;
  --subhead-1-font-style: normal;
  --subhead-2-font-family: "Sen", Helvetica;
  --subhead-2-font-weight: 700;
  --subhead-2-font-size: 14px;
  --subhead-2-letter-spacing: 0px;
  --subhead-2-line-height: normal;
  --subhead-2-font-style: normal;
  --subhead-bold-14-font-family: "Sen", Helvetica;
  --subhead-bold-14-font-weight: 700;
  --subhead-bold-14-font-size: 14px;
  --subhead-bold-14-letter-spacing: 0px;
  --subhead-bold-14-line-height: normal;
  --subhead-bold-14-font-style: normal;
  --subhead-bold-16-font-family: "Sen", Helvetica;
  --subhead-bold-16-font-weight: 700;
  --subhead-bold-16-font-size: 16px;
  --subhead-bold-16-letter-spacing: 0px;
  --subhead-bold-16-line-height: normal;
  --subhead-bold-16-font-style: normal;
  --m3-label-large-font-family: "Roboto", Helvetica;
  --m3-label-large-font-weight: 500;
  --m3-label-large-font-size: 14px;
  --m3-label-large-letter-spacing: 0.10000000149011612px;
  --m3-label-large-line-height: 20px;
  --m3-label-large-font-style: normal;
  --m3-elevation-light-2:
    0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --m3-elevation-light-1:
    0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --variable-collection-color: rgba(99, 110, 122, 0.35);
  --material-theme-schemes-surface-bright: rgba(250, 250, 238, 1);
}
